<div class="trainer-cards">
  <div
    *ngFor="let t of trainers"
    class="trainer-card"
    [routerLink]="[t.id]"
  >
    <div class="trainer-card-header">
      <h3>{{ t.name }}</h3>
    </div>
    <div class="trainer-card-body">
      <img
        [src]="t.imageUrl"
        alt="Trainer's Image"
        class="trainer-img"
      />
      <p>{{ t.smallSnopsies }}</p>
    </div>
    <div class="trainer-card-footer">
      <span>Edad: {{ t.age }}</span>
      <br />
      <span>No pokemones: {{ contarPokemons(t) }}</span>
    </div>
  </div>
</div>


